.about-section {
    font-family: Ruberoid;
    padding-top: 170px;
    padding-bottom: 170px;
    position: relative;
}

.about-mini__card {
    /* display: none; */
}

.about-items {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
}

.about-item__title {
    font-family: Ruberoid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-hr__box {
    display: flex;
    gap: 20px;
}

.about-item__hr {
    width: 230px;
    height: 3px;
    border: none;
    background-color:#78C081;
    border-radius: 5px;
    margin-top: 20px;
}

.about-item__hr hr {
    background-color: #78C081;
}



.about-item__name p {
    line-height: 30px;
    font-size: 17px;
    color: rgba(132, 132, 132, 1);

}

.about-item__name {
    color: rgba(73, 94, 76, 1);
    font-size: 45px;
}

.about-section__title {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.about-items p {
    line-height: 26px;
    color: #848484;
}

.about-item__left {
    border: 10px solid  rgba(217, 250, 221, 1);
    border-top-left-radius: 48px;
    border-bottom-left-radius: 50px;
    font-size: 14px;
}

.about-card__items {
    text-align: start;
    color: #495D4C;
}

.about-left__cart-green {
    background-color: rgba(92, 205, 106, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px;
    gap: 15px;
    border-top-left-radius: 40px;
}

.about-left__cart-green p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    align-items: center ;
}

.about-left__cart-white {
    border-bottom-left-radius: 46px;
    display: flex;
    align-items: center;
    padding: 25px 15px;
    flex-direction: column;
    gap: 15px;
}

.about-left__cart-white p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    align-items: center ;
    color: rgba(124, 162, 129, 1);
}

.about-big__card {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.about-card {
    position: relative;
    width: 676px;
    height: 655px;
    padding: 110px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    background-color: rgba(217, 250, 221, 1);
}

.about-card__items {
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(73, 93, 76, 1);
}

.about-item__paragraph {
    width: 600px;
    height: 400px;
}

.about-card__img {
    position: absolute;
    display: flex;
    justify-items: left;
    
}

.about-card__img img {
    margin-left: 510px;
}

.about-mini__card {
    display: none;
}

.about-mini__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 22px;
    
}

.about-mini__card { 
    font-family: Ruberoid;
    width: auto;
    height: 659px;
    padding: 20px;
    border-radius: 50px;
    background-color: #D9FADD;
}

.about-card__box {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-card__title {
    display: flex;
    font-size: 14px;
}

.about-title__one {
    padding: 24px 20px;
    background-color:#ffffff;
    color:#7CA281;
    border-top-left-radius: 40px;
    width: 173px;
    height: 65px;
    font-size: 12px;
}

.about-title__two {
    padding: 24px 17px;
    background-color: #5CCD6A;
    color: #ffffff;
    font-size: 12px;
    border-top-right-radius: 40px;
    white-space: nowrap;
    width: 172px;
    height: 65px;

}

.about-mini__card {
    display: none;
}

@media only screen and (max-width: 450px) {
    .container {
        width: 95%;
    }

    
    .about-item__paragraph {
        width: 350px;
        height: 600px;
    }
    .about-big__card {
        display: none;
    }

    .about-section__title {
        padding: 0px 8px;
    }

    .about-item__title p {
        font-size: 14px;
    }

    .about-mini__card {
        display: block;
        display: flex;
        gap: 16px;
        margin: 30px 0px;
    }

    .about-item__hr {
        width: 160px;
    }

    .about-card__title {
        height: ;
    }

    .about-card__box {
        padding: 0px 15px;
        gap: 12px;
    }
}



