.diagram {
    font-family: Ruberoid;
}

.diagram-box__items2 {
    display: none;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: rgba(124, 163, 129, 1);
 }

.diagram-vectors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagram-vectors2 {
    display: none;
}

.diagram-vectors img {
}

.diagram-section__texts {
    color: #495E4C;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 80px 70px;
}

.vector_four {
    right: 0;
}

.diagram-box__items {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: rgba(124, 163, 129, 1);
}

.diagram-box__items h3 {
    font-size: 30px;
    padding: 5px;
}

.diagram-montaj__icon {
    width: 22px;
}

.diagram-title__items {
    display: none;
}

.diagram-box__item {
    display: flex;
    margin: 8px 0;
    gap: 10px;
}

.diagram-box__items2 {
    padding: 5px;
}

.diagram-box__items2 h2 {
    font-size: 36px;
}

.diagram-text__images {
    text-align: start;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 5px;
}

.diagram-vectors__card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(217, 250, 221, 1);
}

.diagram-vectors__card img {
}

.diagram-mini__hr { 
    width: 100px;
    height: 2px;
}

.diagram-title__hr {
    width: 60px;
    height: 3px;
    border: none;
    background-color:#78C081;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 12px;
} 

.diagram-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: start;
}

.diagram-hr__box {
    display: flex;
}

.diagram-hr__box hr {
    margin-top: 24px;
    margin-left: 3px;
    border: 2px solid #78C081;
    border-radius: 2px;
}

.diagram-title__items {
    display: none;
}

@media only screen and (max-width: 375px) {
    .container {
    }

    .diagram-text {
        display: none;
    }

    .diagram-box__items {
        display: none;
    }

    .diagram-section__texts {
        display: flex;
        flex-direction: column;
    }

    .diagram-title__items {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .diagram-box__items2 h2 {
        font-size: 36px;
    }

    .diagram-title__item {
        display: flex;
        flex-direction: row;
    }

    .diagram-title__hr  {
       
    }
    
    .diagram-section__texts {
        padding: 18px;
    }

    .diagram-hr__box {
        display: flex;
        flex-direction: row;
    }

    .diagram-vectors {
        display: none;
    }

    .diagram-wrapper {
        position: relative;
        width: 350px;
        height: 700px;
    }  
    
    .vector__1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .vector__2 {
        position: absolute;
        top: 120px;
        left: 220px;
    }

    .vector__3 {
        position: absolute;
        top: 380px;
        left: 20px;
    }

    .vector__4 {
        position: absolute;
        bottom: 100px;
        right: -1;
    }

    .vector-item__1 {
        position: absolute;
        text-align: center;
        top: 80px;
        left: 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        
    }

    .vector-img__1 {
        background-color: #D9FADD;
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }

    .vector-item__1 img {
        width: 50px;
    }


    .vector-item__2 {
        position: absolute;
        text-align: center;
        top: 300px;
        left: 210px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .vector-item__2 img {
        width: 50px;
    }

    .vector-item__3 {
        position: absolute;
        text-align: center;
        top: 510px;
        left: 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .vector-item__3 img {
        width: 50px;
    }
}    