.home-section {
    background: url(/images/home_bg__img.svg), url(/icons/home-bg__fon.svg);
    background-repeat: no-repeat, no-repeat ;
    background-position: right, left;
    background-size: auto 100%, 100% auto;
    background-size: contain, cover;
    width: 100%;
    height: 100vh;
}



.home-section__box {
    padding: 120px 0px 70px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: start;
}

.content-section__items h1 {
    font-size: 64px;
}

.green_bold  {
    color: #78C081;
    font-family: sans-serif;
}

.heading-one__green {
    color: #495E4C;
    font-family: sans-serif;
}

.paragraph-content__green {
    color: #495E4C;
    font-family: sans-serif;
}

.content-section__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 50px;
}

.content-items__icons {
    display: flex;
    gap: 20px;
}

.content-items__icon {
    display: flex;
    gap: 20px;
}

.content-section__button button {
    cursor: pointer;
    width: 477px;
    height: 115px;
    background-color: #78C081;
    border-radius: 40px;
    opacity: 100;
    color: #ffffff;
    border: none;
    font-size: 20px;
    padding: 10px;
    border: 15px solid #ceebd2;
}

.about_card {
    background-color: rgba(217, 250, 221, 1);
    width: 676px;
    height: 655px;
}

