.home-section {
    font-family: Ruberoid;
    background-image:
        url("/images/home_bgg__img.webp"),
        linear-gradient(180deg, #F1F1F1 0%, #DEE2E1 100%);
        background-repeat: no-repeat;
        background-position: right center, center;
        background-size: 1108px, 100% 100%;
        font-family: Ruberoid;
        font-weight: 500;
        min-height: 1000px;
}


.home-section__box {
    padding: 120px 0px 70px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: start;
}

.content-section__items h1 {
    font-family: Ruberoid;
    font-size: 64px;
}

.green_bold {
    color: #78C081;
    font-family: sans-serif;
}

.content-items__column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.content-item {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: Ruberoid;
}

.content-item h1 {
    color: #495E4C;
}

.content-item hr {
    width: 148px;
    height: 5px;
    border: none;
    background-color: #78C081;
}

.home-green__hr {
    width: 148px;
    height: 3px;
}

.content-items__ellips {
    font-family: Ruberoid;
    display: flex;
    gap: 8px;
}

.content-ellips__paragrph {
    margin-top: 20px;
}

.content-section__items {
    display: flex;
    align-items: ;
}

.heading-one__green {
    color: #495E4C;
    font-family: sans-serif;
}

.paragraph-content__green {
    color: #495E4C;
    font-family: sans-serif;
}

.content-section__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}


.content-items__icons {
    display: flex;
    gap: 40px;
}

.content-items__icon {
    display: flex;
    gap: 12px;
}

.content-items__icon img {
    width: 32px;
    height: 32px;
}


.buyurtma-btn {
    max-width: 480px;
    width: 100%;
    padding: 32px 126px;
    border-radius: 40px;
    background-color: #5CCD6A;
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border: 15px solid #ceebd2;
    white-space: nowrap;
}

.paragraph-content__nomber {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.about_card {
    background-color: rgba(217, 250, 221, 1);
    width: 676px;
    height: 655px;
}