.products {
    background-image: url(/images/leaf-bg__images.svg);
    background-repeat: no-repeat;
    background-size: cover  \];
}    

.lung-bg__img {
    position: absolute;
    left: 0;
    top: 50px;
}

.products-section {
    font-family: Ruberoid;
    display: flex;
    flex-direction: column;
    gap: 85px;
    text-align: start;
    padding: 40px 60px;
    z-index: 999 !important; 
}    

.products-section h1 {
    color: rgba(73, 94, 76, 1);
}

.product-section__cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 2fr);
    z-index: 9;
}

.product-section__card img {
    width: 257px;
    height: 85px;
    object-fit: cover;
}

.product-section__card {
    width:257px;
    height: 142px;
    background-color: rgb(227, 230, 229);
    border-top-left-radius: 25px;
    border-radius: 25px;
    display: grid;
}

.product-card__item {
    color: rgba(120, 192, 129, 1);
    padding: 8px 18px;
}

.product-title__column {
    display: flex;
    gap: 5px;
}

.product-title__hr {
    width: 200px;
    height: 3px;
    color: #78C081;
    margin-top: 20px;
    background-color: #78C081;
    border: none;
    border-radius: 5px;
}

.product-section__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 40px;
    z-index: 9;
}