.products {
    background-image: url(/images/leaf-bg__images.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lung-bg__img {
    position: absolute;
    left: 0;
    top: 50px;
}

.products-section {
    font-family: Ruberoid;
    display: flex;
    flex-direction: column;
    gap: 85px;
    text-align: start;
    padding: 40px 60px;
    z-index: 999 !important;
}

.products-section h1 {
    color: rgba(73, 94, 76, 1);
}

.product-section__cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 2fr);
    z-index: 9;
}

.product-section__card {
    width: 260px;
    background-color: rgb(227, 230, 229);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-radius: 25px;
    display: grid;
}

.product-image_box {
    width: 100%;
    height: auto;
    object-fit: contain;
}



.product-card__item {
    color: rgba(120, 192, 129, 1);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    margin: 8px 15px;
}

.product-title__column {
    display: flex;
    gap: 5px;
}

.product-title__hr {
    width: 200px;
    height: 3px;
    color: #78C081;
    margin-top: 20px;
    background-color: #78C081;
    border: none;
    border-radius: 5px;
}

.product-section__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 40px;
    z-index: 9;
}

.product-title__items {
    display: none;
}

.product-image__box img {
    max-width: 270px;
    width: 100%;
}


@media only screen and (max-width: 450px) {
    .products {
        background-image: none;
        background-image: url(/images/pruduct-responsive__bgg.webp);
        background-repeat: no-repeat;
    }

    .products-section {
    }

    .products-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-section__title {
        display: none;
    }

    .product-title__items {
        color: #495E4C;
        display: block;
        display: flex;
        flex-direction: column;
    }

    .product-title__items_column {
        display: flex;
    }

    .product-hr__respon  {
        width: 106px;
        height: 3px;
        color: #78C081;
        margin: 16px 10px;
        background-color: #78C081;
        border: none;
        border-radius: 5px;
    }
    
    .product-section__cards {
    }
    
    .product-section__card {
        width: 170px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .products-section {
        padding: 0;
    }

    .product-title__hr {
        width: 90px;
        margin-top: 10px;
    }

    .product-section__cards {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 15px;
    }



    .product-image_box {
        width: 155px
    }


    .product-section__card p {
        font-size: 14px;
    }


}