.zayafka-section {
    background-image:url(/images/zayafka-bigg__images.webp),  url(/images/zayafka-section__bg.svg);
    background-repeat: no-repeat;
    background-position: left, right;
    background-color: #D9FADD;
    text-align: start;
    margin: 100px 0;
    font-family: Ruberoid;
}

.zayafka-section__title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 70px;
}

.zayafka-section__title h1 {
    color: rgba(73, 94, 76, 1);
}

.zayafka-section__items {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items:center;
}

.zayafka__inputs {
    display: flex;
    gap: 30px;
}

.zayafka__inputs input {
    font-family: Ruberoid;
    outline: none;
    padding: 0px 20px;
    border-radius: 14px;
    border: none;
    box-shadow: 10px 10px 10px rgba(168, 232, 183, 0.5);
    padding: 20px;
    width: 100%;
    min-width: 290px;
    color: #777;
}

.zayafka__inputs input::placeholder {
    color: #7CA381B2;
}


.zayafka__button {
    font-family: Ruberoid;
    cursor: pointer;
    background-color: rgba(31, 129, 29, 0.36);
    border-radius: 17px;
    padding: 16px 50px;
    border: 11px solid rgb(161, 237, 171);
    color: #ffffff;
    font-size: 17px;
    background-color: #5ccd6a
}

.zayafka__button :hover {
    background-color:#54E165;
}

@media only screen and (max-width: 450px) {
    .container {
    }

    .zayafka-section {
        background-image: none;
    }

    .zayafka-section__title {
        padding: 25px;
    }
    
    .zayafka-section__title h1 {
        font-size: 24px;
    }

    .zayafka-section__items {
        flex-direction: column;
        gap: 40px;
    }

    .zayafka__inputs {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .zayafka__button {
        width: 319px;
        height: 75px;
        padding: 16px 8px;
    }

    .zayafka__inputs input {
    font-family: Ruberoid;
    outline: none;
    padding: 0px 20px;
    border-radius: 14px;
    border: none;
    box-shadow: 10px 10px 10px rgba(168, 232, 183, 0.5);
    padding: 20px;
    width: 100%;
    min-width: 319px;
    color: #777;
}
}
